@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 62.5%;
}

body {
  background-color: #333;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title {
  font-family: 'Laila', sans-serif;
  font-size: 5.5rem;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animeLeft .8s linear forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: translateX(0);
  }
}